
extends layout

block header
  .container
        
        section.main-slider
          ul.bxslider
            li
              .slider-item
                img(src=contents.images['1140x500-2.jpg'].url, title='Funky roots')
                h2
                  a(href=locals.url)= locals.name
                    p.description= locals.description
            li
              .slider-item
                img(src=contents.images['1140x500-1.jpg'].url, title='Funky roots')
                h2
                  a(href='post.html', title='Vintage-Inspired Finds for Your Home') Vintage-Inspired Finds for Your Home
            li
              .slider-item
                img(src=contents.images['1140x500-3.jpg'].url, title='Funky roots')
                h2
                  a(href='post.html', title='Vintage-Inspired Finds for Your Home') Vintage-Inspired Finds for Your Home       

block prepend content
    .row
        .col-md-8
          include author
          each article in articles
            article.article.intro
              section
                article.blog-post
                  .blog-post-image
                    a(href='post.html')
                      img(src=contents.images['1140x500-2.jpg'].url, alt='')
                  .blog-post-body
                    h2
                      a(href=article.url)= article.title
                    .post-meta
                      span
                        | by 
                        a(href='#')= article.author
                      | /
                      span
                        i.fa.fa-clock-o
                        span= moment.utc(article.date).format('DD. MMMM YYYY')
                      | /
                      span
                        i.fa.fa-comment-o
                        a(href='#') 343
                    p
                    if article.intro.length > 0
                        != typogr(article.intro).typogrify()
                    if article.hasMore                
                    .read-more
                      a(href=article.url) Continue Reading
                // article
        .col-md-4.sidebar-gutter
         aside

            // sidebar-widget
            .sidebar-widget
              h3.sidebar-title About Me
              .widget-container.widget-about
                a(href='post.html')
                  img(src=contents.images['author.jpg'].url, alt='')
                h4 Jamie Mooz
                .author-title Designer
                p
                  | While everyone’s eyes are glued to the runway, it’s hard to ignore that there are major fashion moments on the front row too.
            // sidebar-widget
            .sidebar-widget
                h3.sidebar-title Featured Posts
                .widget-container
                  include author
                  each article in articles
                    article.widget-post
                      .post-image
                        a(href='post.html')
                          img(src='images/90x60-1.jpg', alt='')
                      .post-body
                        h2
                          a(href=article.url)= article.title
                        .post-meta
                          span
                            i.fa.fa-clock-o
                            span= moment.utc(article.date).format('DD. MMMM YYYY')
                          span
                            a(href='post.html')
                              i.fa.fa-comment-o
                              |  23
                    
            // sidebar-widget
            .sidebar-widget
              h3.sidebar-title Socials
              .widget-container
                .widget-socials
                  a(href='#')
                    i.fa.fa-facebook
                  a(href='#')
                    i.fa.fa-twitter
                  a(href='#')
                    i.fa.fa-instagram
                  a(href='#')
                    i.fa.fa-google-plus
                  a(href='#')
                    i.fa.fa-dribbble
                  a(href='#')
                    i.fa.fa-reddit
            // sidebar-widget
            .sidebar-widget
              h3.sidebar-title Categories
              .widget-container
                ul
                  li
                    a(href='#') Fashion
                  li
                    a(href='#') Art
                  li
                    a(href='#') Design
                  li
                    a(href='#') Featured
                  li
                    a(href='#') Graphics
                  li
                    a(href='#') Peoples
                  li
                    a(href='#') Uncategorized
        
          

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Next page »
