
extends layout

block beforeContent
  div(style="background-image: url(#{locals.featured_image})",class='featured-image')
    div.h1-container
      h1 #{locals.name}
      h2 #{locals.description}
block content
  div.article-list
    include author
    each article in articles
      article.article.intro
        header
          p.date
            span= moment.utc(article.date).format('DD. MMMM YYYY')
          h2
            a(href=article.url)= article.title
        section.content
          if article.intro.length > 0
            != typogr(article.intro).typogrify()
          if article.hasMore
            p.more
              a(href=article.url) more
    block prepend 
      div.nav
        if prevPage
          a(href=prevPage.url) « Newer
        else
          a(href='/archive.html') « Archives
        if nextPage
          a(href=nextPage.url) Next page »
  div.other-links
  div.clear
